@model MODEL.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationList[0].OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationList[0].OrganizationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationList[0].OrganizationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationList[0].OrganizationPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationList[0].OrganizationContactPerson)
        </dd>

        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
